<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="demo suite" verbose="1" >
<parameter name="browser"  value="Chrome"/>
  <test name="regression test" >
    <classes>
       <class name="com.testng.examples.AllAnnotationsDemo" />
        <class name="com.testng.examples.AllAnnotationsDemo2" />
    </classes>
  </test>
 
</suite>
